.App {
    text-align: center;
    background-color: #382738;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.card {
    position: relative;
}

.card img {
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer
}

.card .figure {
    position: absolute;
    transform: rotateY(90deg);
}